.checkoutProduct{
    display: flex;
    margin: 10px;
}
.checkoutProduct__image{
    object-fit: contain;
    width: 180px;
    height: 180px;
}
.checkoutProduct__info{
    padding: 20px;
}
.checkoutProduct button {
    background-color: #FE9900;
    border: none;
    cursor: pointer;
    padding: 6px 10px;
    color: #fff;
    margin-top: 10px;
}
.checkoutProduct__rating{
    display: flex;
}
.checkoutProduct__title{
    font-size: 18px;
    font-weight: 800;
}