.checkout__ad{
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
}
.checkout__title{
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}
.checkout{
    display: flex;
    padding: 20px;
    background-color: #fff;
    height: max-content;
}