.footer{
    background-color: #2B2B2B;
    color: #fff;
    padding: 18px 4px;
    display: flex;
    justify-content: center;
}
.footer__copy span{
    font-size: 12px;
    font-weight: 600;
    padding: 20px 4px;
    margin-right: 20px;
}
.footer__icons .icon{
    color: #fff;
}