.header{
    background-color: #2B2B2B;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}
.header__logo{
    width: 50px;
    margin: 0px 20px;
    padding: 4px;
    object-fit: contain;
}
.header__search {
    display: flex;
    flex: 1;
}
.header__searchIcon{
    background-color: #FE9900;
    padding: 5px;
    height: 22px !important;
}
.header__searchInput{
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}
.header__nav{
    display: flex;
    justify-content: space-evenly;
}
.header__link{
    color: white;
    text-decoration: none;
}
.header__option{
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}
.header__optionLineOne{
    font-size: 10px;
}
.header__optionLineTwo{
    font-size: 13px;
    font-weight: 800;
}
.header__optionBasket{
    display: flex;
    align-items: center;
}
.header_basketCount{
    margin:0 10px;
}