.home{
    max-width: 1500px;
    margin-bottom: 40px;
}
.home__image{
    width: 100%;
    height: 500px;
    object-fit: cover;
    mask-image: Linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    z-index: -1;
    margin-bottom: -150px;  
}
.home__row{
    display: flex;
    z-index: 1;
    margin: 0 5px;
    justify-content: center;
}
    
.title__products{
    text-align: center;
    color: #fff;
    margin: 40px;
}