.login{
    background-color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login__container{
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid lightgray;
}
.login__image{
    width: 150px;
    object-fit: contain;
    margin: 20px auto;
    border-radius: 8px
}
.login__container > h1{
    font-weight: 800;
    margin-bottom: 20px;
}
.login__container > form > h5{
    margin-bottom: 5px;
}
.login__container > form > input{
    margin-bottom: 10px;
    height: 40px;
    background-color: #fff;
    width: 98%;
}
.login__container > p{
    margin-top: 15px;
    font-size: 12px;
}
.login__signin{
    background-color: #FE9900;
    border-radius: 2px;
    width: 100%;
    height: 40px;
    color: #fff;
    font-weight: 600;
    text-transform: capitalize;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
}
.login__register{
    border-radius: 2px;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
}

