.product__rating{
    display: flex;
    justify-content: center;
}
.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    max-height: 400px;
    width: 300px;
    background-color: #fff;
    z-index: 1;
    margin: 10px;
    padding: 20px

}
.product > img{
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}
.product__price{
    margin-top: 5px;
}
.product__info{
    height: 100px;
    margin-bottom: 15px;
    text-align: center;
}
.product > button{
    background-color: #FE9900;
    border: none;
    cursor: pointer;
    padding: 6px 10px;
    color: #ffffffe6;
}