.subtotal{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100px;
    padding: 20px;
    background-color: #f3f3f3;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-left: 10px;
}

.subtotal__gift{
    display: flex;
}
.subtotal__gift > input{
    margin-right: 5px;
}
.subtotal > button{
    background-color: #FE9900;
    border: none;
    cursor: pointer;
    padding: 6px 10px;
    color: #fff;
    margin-top: 10px;
}